.game-over {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    opacity: 0;
    transition: opacity 3s ease;
}

.fade-in {
    opacity: 1;
}

.game-end-info {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    font-size: 6vw;
    justify-content: center;
    align-items: center;
    color: #333333;
}

.game-end-info h1 {
    font-size: 10vw;
    font-weight: 700;
}

.game-end-info button {
    border-radius: 7vw;
    border: none;
    width: 30vw;
    height: 13vw;
    background-color: #ff6b6b;
    color: white;
    font-size: 5vw;
    font-weight: 500;
    margin-top: 3vw;
}

.game-end-info button:hover {
    background-color: #e85a5a;
}

@media screen and (orientation: landscape) {
    .game-end-info h1 {
        font-size: 4vw;
    }

    .game-end-info {
        padding: 0 20vw;
        font-size: 2vw;
    }

    .game-end-info button {
        width: 15vw;
        height: 5.5vw;
        font-size: 2.5vw;
        margin-top: 2vh;
        border-radius: 3vw;
    }
}
