:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: quicksand;
    src: url("./assets/quicksand.woff");
}

body {
    width: 100vw;
    height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: quicksand, system-ui, arial;
}
