:root {
    font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue",
        sans-serif;
    color: #333333;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

@font-face {
    font-family: quicksand;
    src: url("./assets/quicksand.ttf");
}

body {
    width: 100vw;
    height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: quicksand, system-ui, arial;
}
